.jumboMods
{
	background-color: #B3354A;
	font-family: "Baloo Thambi";
	color: white;
	height: 140px;
	padding-top: 20px;

}

#slideshow
{
	width: 650px;
	max-width: 100%;
	position: relative;
	margin: auto;

}

#slideshow > div
{

	background: #B3354A;
	position: absolute;
	margin: auto;
}

.imglink
{
	padding-top: 425px;
	word-spacing: 30px;
	margin: auto;
	text-align: center;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	width: auto;
}

